* {
  font-family: 'Oxygen', sans-serif;
  color: black; }

body {
  overflow-y: scroll; }

/* sticky footer */
.footer {
  height: 60px;
  line-height: 60px; }

a:link {
  color: black; }

a:visited {
  color: black; }

a:hover {
  color: #076DAB; }

a:active {
  color: #014266; }

.navbar-bar-custom {
  background-color: #8ED5FF; }

.nav-item {
  background-color: #ea8f95; }

.country {
  font-size: 140%; }

.container {
  max-width: 960px; }

.container-small {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.rules {
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

.background-red {
  background-color: #ea8f95; }

.border-red {
  border-width: 3px;
  border-style: solid;
  border-color: #ea8f95;
  padding: 10px; }

.background-gold {
  background-color: #D9C185; }

.border-gold {
  border-width: 3px;
  border-style: solid;
  border-color: #8ED5FF;
  padding: 10px;
  border-radius: 5px; }

.finished-labels {
  text-align: center;
  margin: 5px; }

.label {
  margin-left: 2px;
  margin-right: 2px;
  font-weight: normal;
  font-size: small;
  color: black;
  background: #DDF7FF; }

.game {
  margin-bottom: 18px; }

.align {
  text-align: center; }

.score {
  padding-top: 30px;
  padding-bottom: 30px; }

.btn-blue {
  color: black;
  background-color: #8ED5FF; }

.btn-red {
  color: black;
  background-color: #ea8f95; }

.btn-gold {
  color: white;
  background-color: #D9C185; }

.btn-green {
  color: black;
  background-color: #b3eaa4; }

.bet-navigation {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #DDF7FF;
  border-radius: 5px; }

.panel-custom {
  background-color: #FFF7E2; }

.loading {
  min-height: 200px; }

.spinner {
  margin-top: 50px;
  vertical-align: middle; }

.error-box {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }

.fix-pull {
  margin-right: 60px; }

.game-name {
  font-weight: bold;
  text-align: center; }
